## Python-Github (PyGitHub API for traffic stats)

In [1]:
import sys
from github import Github
import os
import pandas as pd
import numpy as np
from datetime import datetime
from openpyxl import load_workbook

In [2]:
g = Github("33df2f8540ba7a346e6a6a8100f7fe0d4e267916")

cur_repo = g.get_repo("Akash-L/Test")

for repo in g.get_user().get_repos():
    print(repo.name)

Sample-Repo
Test

In [3]:
#Overall Views
traff = cur_repo.get_views_traffic()
df = pd.DataFrame.from_dict(traff, orient='columns')
print("Current Repo Name : ",cur_repo.name)
print("Total Views: ",df['count'][0])
print("Unique Views: ",df['uniques'][0])

Current Repo Name :  Test
Total Views:  12
Unique Views:  1

In [4]:
#dataframe version of Top  views stats
l = cur_repo.get_views_traffic()['views']
s=[]
for i in l:
    s.append(str(i).replace("View(","").replace(")","").replace("uniques=","").replace("timestamp=","").replace(" count=",""))
df_views=pd.DataFrame(s,columns=["View"])
df_views[['uniques',"time"]]=df_views.View.str.split(",", n = 1, expand = True)
df_views[['timestamp',"count"]]=df_views.time.str.split(",", n = 1, expand = True)
df_views=df_views[['uniques','timestamp','count']]
print("Views Stats: \n")
df_views

Views Stats:

  uniques             timestamp count
0       1   2020-07-15 00:00:00    12

In [11]:
# Top 10 Paths Viewed
l=cur_repo.get_top_paths()
s=[]
for i in l:
    s.append(str(i).replace("Path(","").replace(")","").replace("uniques=","").replace("title=","").replace("path=","").replace("count=",""))
df_top=pd.DataFrame(s,columns=["Path"])

df_top[['uniques',"title"]]=df_top.Path.str.split(",", n = 1, expand = True)
df_top[['title',"path"]]=df_top.title.str.split(",", n = 1, expand = True)
df_top[['path',"count"]]=df_top.path.str.split(",", n = 1, expand = True)
df_top=df_top[['uniques','title','path','count']]
df_top

,uniques,title,path,count
0,1,"""Akash-L/Test""","""/Akash-L/Test""",2
1,1,"""Test/file1.zip at master · Akash-L/Test""","""/Akash-L/Test/blob/master/file1.zip""",1
2,1,"""Test/README.md at master · Akash-L/Test""","""/Akash-L/Test/blob/master/README.md""",1
3,1,"""Test/file1.txt at master · Akash-L/Test""","""/Akash-L/Test/blob/master/Sample/file1.txt""",1
4,1,"""Test/file1.zip at master · Akash-L/Test""","""/Akash-L/Test/blob/master/Sample/file1.zip""",1
5,1,"""Test/git-api.ipynb at master · Akash-L/Test""","""/Akash-L/Test/blob/master/Test%20Folder/git-...",1
6,1,"""Test/git-api-checkpoint.ipynb at master · Ak...","""/Akash-L/Test/blob/master/Test%20Folder/.ipy...",1
7,1,"""Test/test.py at master · Akash-L/Test""","""/Akash-L/Test/blob/master/Test%20Folder/test...",1
8,1,"""Test/Sample at master · Akash-L/Test""","""/Akash-L/Test/tree/master/Sample""",1
9,1,"""Test/Test Folder at master · Akash-L/Test""","""/Akash-L/Test/tree/master/Test%20Folder""",1

In [12]:
# First Pull, if there is no data & everything is empty

if(os.path.exists("output.xlsx")):
    print("file exists")
    df = pd.read_excel("output.xlsx")
    if(df.empty):
        with pd.ExcelWriter('output.xlsx') as writer:
            df_top.to_excel(writer, sheet_name='Top Paths', index=False)
            df_views.to_excel(writer, sheet_name='Views',index=False)
          #  df_clones.to_excel(writer, sheet_name='Clones',index=False)
        writer.save()
        print(" file was empty")
    else:
        print("but file was not empty")
        
else:
    import openpyxl
    wb = openpyxl.Workbook()
    wb.save('output.xlsx')
    with pd.ExcelWriter('output.xlsx') as writer:
        df_top.to_excel(writer, sheet_name='Top Paths', index=False)
        df_views.to_excel(writer, sheet_name='Views',index=False)
       # df_clones.to_excel(writer, sheet_name='Clones',index=False)
    writer.save()

    print("file exists and wasn't empty, updated now!")

file exists
but file was not empty

In [13]:
#Write Top paths to excel, update everytime the notebook is run with latest counts

import pandas
book = load_workbook('output.xlsx')
writer = pandas.ExcelWriter('output.xlsx', engine='openpyxl')
writer.book = book
writer.sheets = dict((ws.title, ws) for ws in book.worksheets)
df_top.to_excel(writer, sheet_name="Top Paths", index=False)
writer.save()
print("New Top Paths saved")
df_top

New Top Paths saved

,uniques,title,path,count
0,1,"""Akash-L/Test""","""/Akash-L/Test""",2
1,1,"""Test/file1.zip at master · Akash-L/Test""","""/Akash-L/Test/blob/master/file1.zip""",1
2,1,"""Test/README.md at master · Akash-L/Test""","""/Akash-L/Test/blob/master/README.md""",1
3,1,"""Test/file1.txt at master · Akash-L/Test""","""/Akash-L/Test/blob/master/Sample/file1.txt""",1
4,1,"""Test/file1.zip at master · Akash-L/Test""","""/Akash-L/Test/blob/master/Sample/file1.zip""",1
5,1,"""Test/git-api.ipynb at master · Akash-L/Test""","""/Akash-L/Test/blob/master/Test%20Folder/git-...",1
6,1,"""Test/git-api-checkpoint.ipynb at master · Ak...","""/Akash-L/Test/blob/master/Test%20Folder/.ipy...",1
7,1,"""Test/test.py at master · Akash-L/Test""","""/Akash-L/Test/blob/master/Test%20Folder/test...",1
8,1,"""Test/Sample at master · Akash-L/Test""","""/Akash-L/Test/tree/master/Sample""",1
9,1,"""Test/Test Folder at master · Akash-L/Test""","""/Akash-L/Test/tree/master/Test%20Folder""",1

In [14]:
#read each sheet of the 
xls = pd.ExcelFile('output.xlsx')
df1 = pd.read_excel(xls, 'Top Paths')
df2 = pd.read_excel(xls, 'Views')
#df3 = pd.read_excel(xls, 'Clones')
df2

   uniques             timestamp  count
0        1   2020-07-15 00:00:00     12

In [18]:
# Compare datetime and push new dates 
d1= pd.to_datetime(df_views['timestamp'].tail(1)).dt.to_pydatetime()
d2= pd.to_datetime(df2['timestamp'].tail(1)).dt.to_pydatetime()
d1,d2

(array([datetime.datetime(2020, 7, 15, 0, 0)], dtype=object),
 array([datetime.datetime(2020, 7, 15, 0, 0)], dtype=object))

In [19]:
#d3= pd.to_datetime(df_clones['timestamp'].tail(1)).dt.to_pydatetime()
#d4= pd.to_datetime(df3['timestamp'].tail(1)).dt.to_pydatetime()
#d3,d4

In [20]:
flg1=0
if(bool(d1-d2)==False):
    print("Dates of views in sync")
else:
    print("Dates of views not in sync")
    flg1=1

Dates of views in sync

In [22]:
#flg2=0
#if(bool(d3-d4)==False):
#   print("Dates of clones in sync")
#else:
#    print("Dates of clones not in sync")
#    flg2=1

In [25]:
#update sheets based on new dates and stats

if(flg1==1):
    book = load_workbook('output.xlsx')
    writer = pandas.ExcelWriter('output.xlsx', engine='openpyxl')
    writer.book = book
    writer.sheets = {ws.title: ws for ws in book.worksheets}
    writer.sheets
    for sheetname in writer.sheets:
        if(sheetname=='Views'): #this part can be modified based on each excel sheet
            df_views.tail(1).to_excel(writer,sheet_name=sheetname, startrow=writer.sheets[sheetname].max_row, index = False,header= False)
    writer.save()
    print("Sheet Updated")

In [26]:
#if(flg2==1):
 #   book = load_workbook('output.xlsx')
 #   writer = pandas.ExcelWriter('output.xlsx', engine='openpyxl')
 #   writer.book = book
 #   writer.sheets = {ws.title: ws for ws in book.worksheets}
 #   writer.sheets
 #   for sheetname in writer.sheets:
 #       if(sheetname=='Clones'): #this part can be modified based on each excel sheet
 #           df_clones.tail(1).to_excel(writer,sheet_name=sheetname, startrow=writer.sheets[sheetname].max_row, index = False,header= False)
 #   writer.save()
 #   print("Sheet Updated")

In [27]:
xls = pd.ExcelFile('output.xlsx')
df1= pd.read_excel(xls,'Top Paths')
df2 = pd.read_excel(xls, 'Views')
#df3 = pd.read_excel(xls, 'Clones')
df1

,uniques,title,path,count
0,1,"""Akash-L/Test""","""/Akash-L/Test""",2
1,1,"""Test/file1.zip at master · Akash-L/Test""","""/Akash-L/Test/blob/master/file1.zip""",1
2,1,"""Test/README.md at master · Akash-L/Test""","""/Akash-L/Test/blob/master/README.md""",1
3,1,"""Test/file1.txt at master · Akash-L/Test""","""/Akash-L/Test/blob/master/Sample/file1.txt""",1
4,1,"""Test/file1.zip at master · Akash-L/Test""","""/Akash-L/Test/blob/master/Sample/file1.zip""",1
5,1,"""Test/git-api.ipynb at master · Akash-L/Test""","""/Akash-L/Test/blob/master/Test%20Folder/git-...",1
6,1,"""Test/git-api-checkpoint.ipynb at master · Ak...","""/Akash-L/Test/blob/master/Test%20Folder/.ipy...",1
7,1,"""Test/test.py at master · Akash-L/Test""","""/Akash-L/Test/blob/master/Test%20Folder/test...",1
8,1,"""Test/Sample at master · Akash-L/Test""","""/Akash-L/Test/tree/master/Sample""",1
9,1,"""Test/Test Folder at master · Akash-L/Test""","""/Akash-L/Test/tree/master/Test%20Folder""",1

In [28]:
df2

   uniques             timestamp  count
0        1   2020-07-15 00:00:00     12